.tab {
  line-height: 1;
}

.tab-icon {
  font-size: 24px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  line-height: 28px;
}

.tab-label {
  line-height: 11px;
  vertical-align: top;
  font-size: 11px;
}

.profile-wrapper {
  padding: 16px 10px 0 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: #ccc;
}

.profile-name {
  font-size: 18px;
  padding: 4px 0 2px 0;
}

.profile-email {
  font-size: 15px;
  opacity: 0.4;
}

.switch--list-item {
  margin-right: 0px;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}

.settings-list {
  margin-top: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.item-title {
  font-size: 13px;
  font-family: sans-serif;
    font-weight: 500;
}

.item-desc {
  font-size: 12px;
  color: #666;
  line-height: 1.3;
  margin-top:3px;
  padding: 0 0px 0 0;
  margin-top:-14px;
  margin-right: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  
}

.item-desc-detail-project {
  font-size: 12px;
  color: #666;
  line-height: 1.3;
  margin-top:3px;
  padding: 0 0px 0 0;
  margin-top:0px;
  margin-right: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.item-label {
  font-size: 12px;
  color: #999;
  float: right;
}

pre{
  white-space: pre-line;
}
.feedbackContent{
  margin-top: -10px;
  font-family: inherit;
  font-size: 13px;
}

.circle{
  float: right;
  margin-right: 5px;
  margin-top: 21px;
}
.right-detail{
    position: relative;
  display: inline-block;
  vertical-align: top;

  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0 4px;
  width: auto;
  height: 19px;
  
  background-color: #43d854;
  color: #fff;
  text-align: center;
  font-size: 9px;
  min-width: 19px;
  line-height: 19px;
  font-weight: 400;
}


textarea{

  overflow:hidden;
  padding:8px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  border-radius:8px;

}

.color_header{
  color:#fff;
}


pre{
  white-space: pre-line;
}
.feedbackContent{
  margin-top: -10px;
  font-family: inherit;
  font-size: 13px;
}

.circle{
  float: right;
  margin-right: 5px;
  margin-top: 20px  ;


}


textarea{

  overflow:hidden;
  padding:8px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  border-radius:8px;

}

.color_header{
  color:#fff;
}


.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}
.center{
  text-align: center !important;
}

.person-name {
  line-height: 44px;
}

.person-image {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  border-radius: 2px;
}

.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}

.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  margin-left: 50px;
  margin-right: 30px;
}

.avator {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.desc {
  line-height: 16px;
}

.lucent {
  opacity: 0.4;
}


.container {
  padding: 10px 10px;
  margin: 0 auto;

}

/* .bubble */

.bubble {
  background-image: linear-gradient(bottom, rgb(251, 251, 251) 100%, rgb(251, 251, 251) 100%);
  background-image: -o-linear-gradient(bottom, rgb(251, 251, 251) 100%, rgb(251, 251, 251) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(251, 251, 251) 100%, rgb(251, 251, 251) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(251, 251, 251) 100%, rgb(251, 251, 251) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(251, 251, 251) 100%, rgb(251, 251, 251) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(251, 251, 251)),
    color-stop(1, rgb(251, 251, 251))
    );
  /* border: solid 1px rgba(0, 0, 0, 0.5); */
  /* vendor rules */
  border-radius: 5px;
  /* vendor rules */
  /* box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2); */
  /* vendor rules */
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 10px;
  content: '';
  display: block;
  position: absolute;
}


.bubble:after {
  border: 7px solid transparent;
  border-bottom-color: rgb(251, 251, 251);
  top: 0px;
  left: -6px;
}

.bubble--alt {
  background-image: linear-gradient(bottom, rgb(218, 245, 200) 100%, rgb(218, 245, 200) 100%);
  background-image: -o-linear-gradient(bottom, rgb(218, 245, 200) 100%, rgb(218, 245, 200) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(218, 245, 200) 100%, rgb(218, 245, 200) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(218, 245, 200) 100%, rgb(218, 245, 200) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(218, 245, 200) 100%, rgb(218, 245, 200) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(218, 245, 200)),
    color-stop(1, rgb(218, 245, 200))
    );
  float: right;
}

.bubble--alt:after {
  border-bottom-color: rgb(218, 245, 200);
  border-radius: 10px / 10px;
  left: auto;
  right: -8px;
  top: 0px;
}

.timeline {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.chat-left{
  float: left;
}

.chat-right{
  float: right;
}
.timeline-left{
  float: left;
}

.timeline-right{
  float: right;
}
.custom-color{
    background: #43d854;
}

.navigation-bar {
  background: #43d854;
}
.navigation-bar__bg {
  background: #43d854;
}
.toolbar-button,
.toolbar-button--outline,
.toolbar-button--quiet {
  color: #ffffff;
}
.navigation-bar__center {
  color: #ffffff;
}



.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.list__item--tappable:active {
   background: #43d854;
}
.list__item_active:active {
     background: #43d854;
}
.checkbox > input[type="checkbox"]:checked {
  background: #43d854;
}
.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
  background: #43d854;
  border: 1px solid #43d854;
}
.checkbox > .checkbox__checkmark:before { 
  border: 1px solid #43d854;

}
.checkbox--noborder > .checkbox__checkmark:after {
    border: 3px solid #43d854;
}
/*
.radio-button__checkmark:after {
      border: 3px solid #43d854;
}*/
